.vs/DatingApp.API/DesignTimeBuild/.dtbcache
.vs/DatingApp.API/config/applicationhost.config
.vs/DatingApp.API/v16/Server/sqlite3/db.lock
.vs/DatingApp.API/v16/.suo
.vs/DatingApp.API/v16/Server/sqlite3/storage.ide
.vs/DatingApp.API/v16/TestStore/0/000-0000.testlog
.vs/DatingApp.API/v16/TestStore/0/testlog.manifest
DatingApp.API/.vs/DatingApp.API/DesignTimeBuild/.dtbcache
DatingApp.API/.vs/DatingApp.API/DesignTimeBuild/.dtbcache
DatingApp.API/.vs/DatingApp.API/v16/Server/sqlite3/storage.ide
DatingApp.API/.vs/DatingApp.API/v16/Server/sqlite3/storage.ide
DatingApp.API/.vs/DatingApp.API/DesignTimeBuild/.dtbcache
DatingApp.API/DatingApp.API.csproj
DatingApp.API/DatingApp.API.csproj.user
