<div *ngIf="isDataLoaded; else loading" class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div *ngIf="messageThread.length === 0">
        <p>No messages yet... say hi by using the message box below!</p>
      </div>
      <ul class="chat">
        <li *ngFor="let message of messageThread" >
          <!-- sent -->
          <div *ngIf="message.senderId == recipientId" >
            <span class="chat-img float-left">
              <img class="rounded-circle" src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}">
            </span>
            <div class="chat-body">
              <div class="header">
                <strong class="primary-font float-left">{{ message.senderKnownAs }}</strong>
                <small class="text-muted">
                    <span class="fa fa-clock-o ml-1">{{ message.messageSentDate | timeAgo }}</span>
                </small>
              </div>
              <p>{{ message.content }}</p>
            </div>
          </div>
          <!-- received -->
          <div *ngIf="message.senderId != recipientId" >
              <span class="chat-img float-left">
                <img class="rounded-circle" src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}">
              </span>
              <div class="chat-body">
                <div class="header">
                  <small class="text-muted">
                      <span class="fa fa-clock-o m-1">{{ message.messageSentDate | timeAgo }}</span>
                      <span *ngIf="!message.isRead" class="m-1 text-danger">(unread)</span>
                      <span *ngIf="message.isRead" class="m-1 text-success">(Read {{ message.dateRead | timeAgo }})</span>
                  </small>
                  <strong class="ml-1 primary-font float-left">{{ message.senderKnownAs }}</strong>
                </div>
                <p>{{ message.content }}</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid" >
      <div class="input-group">
        <input type="text"
        [(ngModel)]="newMessage.content"
        name="content"
        required
        class="form-control input-sm" placeholder="send a private message">
        <div class="input-group-append">
          <button [disabled]="!messageForm.valid" class="btn btn-primary" (click)="sendNewMessage()" >Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</ng-template>
