<div *ngIf="isDataLoaded; else loading" class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile:</h1>
    </div>
    <div *ngIf="editForm.dirty" class="col-sm-8">
      <div class="alert alert-info">
        <strong>Information:</strong> You have made changes to your profile.
        Save them before exit this page!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ user.photoUrl  || '../../../assets/avatar.png'}}"
          alt="{{ user.knownAs }}"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user.city }}, {{ user.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Last active:</strong>
            <p>{{ user.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user.created | date }}</p>
          </div>
          <div class="card-footer">
            <button (click)="documentEditForm.ngSubmit.emit()" type="submit" [disabled]="!editForm.dirty" class="btn btn-success btn-block">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset [justified]="true" class="member-tabset">
          <tab heading="Edit profile">
            <form id="editForm" [formGroup]="editForm" (ngSubmit)="updateUser()" #documentEditForm="ngForm">
            <!-- <form (ngSubmit)="updateUser()" id="editForm" #editForm="ngForm"> -->
              <hr><h4>Description</h4>
              <quill-editor [modules]="config" [(ngStyle)]="editorStyle" formControlName="introduction"></quill-editor>
              <!-- <textarea
                class="form-control"
                name="introduction"
                rows="6"
                [(ngModel)]="user.introduction"
              ></textarea> -->
              <hr><h4>Looking for</h4>
              <quill-editor [modules]="config" formControlName="lookingFor"></quill-editor>
              <!-- <textarea
                class="form-control"
                name="lookingFor"
                rows="6"
                [(ngModel)]="user.lookingFor"
              ></textarea> -->
              <hr><h4>Interests</h4>
              <quill-editor [modules]="config" formControlName="interests"></quill-editor>
              <!-- <textarea
                class="form-control"
                name="interests"
                rows="6"
                [(ngModel)]="user.interests"
              ></textarea> -->
              <hr><h4>Location Details</h4>
              <div class="form-inline d-flex justify-content-around">
                <label for="city">City</label>
                <input
                  formControlName="city"
                  class="form-control"
                  name="city"
                  type="text"
                />
                <label for="country">Country</label>
                <input
                  class="form-control"
                  name="country"
                  type="text"
                  formControlName="country"
                />
              </div>
            </form>
          </tab>
          <tab heading="Your Photos">
            <app-photo-editor (mainPhotoChanged)="updateMainPhoto($event)" [photos]="user.photos"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</ng-template>
